/* The switch - the box around the slider @https://www.w3schools.com/howto/howto_css_switch.asp*/ 
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(243, 242, 242);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(65, 207, 84);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(221, 57, 57);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Grid */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: .5fr repeat(3, 1fr);

  background: rgb(84, 71, 151);
}

h1{
  grid-column: span 2;
  text-align: center;
}

#powerType{
  grid-column: 1;
  grid-row: 2;
}

#toggle{
  grid-column: 1;
  grid-row: 3;
}

#stats{
  grid-column: 1;
  grid-row: 4;
}

#robot{
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row: span 2;
}

#finish{
  grid-column-start: 2;
  grid-row: 4;
}

img{
  width: 100%;
  object-position: center;
}

#category
{
  font-size: 36px;
}

#text
{
  font-size: 24px;
}

/* BUTTONS */
#hydro
{
  color: white;

  background-color:rgb(67, 145, 197);
  border-color:rgb(57, 91, 165);

  box-shadow: 0 6px #7a7a7a;

  border-width: 6px;
  border-radius: 10px;
  padding: 5px;

  font-size: 24px;
  font-weight: bold;

  width: 120px;
  height: 60px;
}

#hydro:hover
{
  background-color: rgb(75, 138, 220);
}

#hydro:active 
{
  background-color: rgb(59, 56, 142);
  box-shadow: 0 3px #555555;
  transform: translateY(4px);
}

#solar
{
  color: white;

  background-color:rgb(223, 94, 43);
  border-color:rgb(194, 28, 28);

  box-shadow: 0 6px #7a7a7a;

  border-width: 6px;
  border-radius: 10px;
  padding: 5px;

  font-size: 24px;
  font-weight: bold;

  width: 120px;
  height: 60px;
}

#solar:hover
{
  background-color: rgb(236, 108, 28);
}

#solar:active 
{
  background-color: rgb(158, 24, 24);
  box-shadow: 0 3px #555555;
  transform: translateY(4px);
}

#nuclear
{
  color: white;

  background-color:rgb(105, 223, 82);
  border-color:rgb(36, 141, 67);

  box-shadow: 0 6px #7a7a7a;

  border-width: 6px;
  border-radius: 10px;
  padding: 5px;

  font-size: 24px;
  font-weight: bold;

  width: 120px;
  height: 60px;
}

#nuclear:hover
{
  background-color: rgb(116, 221, 54);
}

#nuclear:active 
{
  background-color: rgb(18, 118, 78);
  box-shadow: 0 3px #555555;
  transform: translateY(4px);
}

#finish
{
  color: white;

  background-color:rgb(222, 216, 93);
  border-color:rgb(212, 179, 45);

  box-shadow: 0 6px #7a7a7a;

  border-width: 6px;
  border-radius: 10px;
  padding: 5px;

  font-size: 20px;
  font-weight: bold;

  width: 120px;
  height: 60px;
}

#finish:hover
{
  background-color: rgb(177, 136, 55);
}

#finish:active 
{
  background-color: rgb(177, 136, 55);
  box-shadow: 0 3px #555555;
  transform: translateY(4px);
}

/* DIVIDERS */
div
{
  background:rgb(110, 134, 199);
  border-color: rgb(43, 16, 54);

  border-style: solid;
  border-width: 6px;
  border-radius: 10px;
  
  text-align: center;
  position: relative;

  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

#powerType
{
  width: 450px;
  height: 275px;
}

#toggle
{
  width: 450px;
  height: 275px;
}

#stats
{
  width: 450px;
  height: 275px;
}